{% extends "layout.html" %}

{% block content %}

<div class="main-content app-content">
  <div class="container-fluid">

    <!-- Start::page-header -->
    <div class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb flex-wrap gap-2">
    </div>
    <!-- End::page-header -->

    <!-- Start:: row-1 -->
    <div class="row">
      <div>
        <div class="row">

          <div class="col-xl-3">
            <div class="card custom-card main-card-item">
              <div class="card-body">
                <div class="d-flex align-items-start justify-content-between mb-3 flex-wrap">
                  <div>
                    <span class="d-block mb-3 fw-medium">قیمت خرید</span>
                    <h5 class="fw-semibold lh-1 mb-0">{{ format_currency(float(last_bp.amount)) }} تومان</h5>
                  </div>
                  <div class="text-end">
                    <div class="mb-4">
                      <span class="avatar avatar-md bg-success svg-white avatar-rounded">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <a href="{{ url_for('buy') }}" class="text-muted text-decoration-underline fw-medium fs-13">بخرید</a>
                  <span class="fw-semibold" style="direction: ltr;">{{ last_bp.registration }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card custom-card main-card-item">
              <div class="card-body">
                <div class="d-flex align-items-start justify-content-between mb-3 flex-wrap">
                  <div>
                    <span class="d-block mb-3 fw-medium">قیمت فروش</span>
                    <h5 class="fw-semibold lh-1 mb-0">{{ format_currency(float(last_sp.amount)) }} تومان</h5>
                  </div>
                  <div class="text-end">
                    <div class="mb-4">
                      <span class="avatar avatar-md bg-secondary svg-white avatar-rounded">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <a href="{{ url_for('sell') }}" class="text-muted text-decoration-underline fw-medium fs-13">بفروشید</a>
                  <span class="fw-semibold" style="direction: ltr;">{{ last_sp.registration }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card custom-card main-card-item primary">
              <div class="card-body">
                <div class="d-flex align-items-start justify-content-between mb-3 flex-wrap">
                  <div>
                    <span class="d-block mb-3 fw-medium">مجموع دارایی طلا</span>
                    <h5 class="fw-semibold lh-1 mb-0" style="direction: ltr;">{{ format_currency(float(user.assets)) }}</h5>گرم
                  </div>
                  <div class="text-end">
                    <div class="mb-4">
                      <span class="avatar avatar-md bg-primary svg-white avatar-rounded">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <a href="{{ url_for('transactions') }}"
                    class="text-muted text-decoration-underline fw-medium fs-13">مشاهده
                    تراکنش ها</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card custom-card main-card-item">
              <div class="card-body">
                <div class="d-flex align-items-start justify-content-between mb-3 flex-wrap">
                  <div>
                    <span class="d-block mb-3 fw-medium">اعتبار نقدی</span>
                    <h5 class="fw-semibold lh-1 mb-0" style="direction: ltr;">{{ format_currency(float(user.credit)) }}</h5>تومان
                  </div>
                  <div class="text-end">
                    <div class="mb-4">
                      <span class="avatar avatar-md bg-info svg-white avatar-rounded">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <a href="{{ url_for('transactions') }}"
                    class="text-muted text-decoration-underline fw-medium fs-13">مشاهده
                    تراکنش ها</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End:: row-1 -->

  </div>
</div>

{% endblock %}