<aside class="app-sidebar sticky" id="sidebar">

  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a href="{{ url_for('dashboard') }}" class="header-logo">
      <img src="../static/assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
      <img src="../static/assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
      <img src="../static/assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
      <img src="../static/assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
    </a>
  </div>
  <!-- End::main-sidebar-header -->

  <!-- Start::main-sidebar -->
  <div class="main-sidebar" id="sidebar-scroll">

    <!-- Start::nav -->
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div class="slide-left" id="slide-left">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewbox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg>
      </div>
      <ul class="main-menu">

        <li class="slide">
          <a href="{{ url_for('dashboard') }}" class="side-menu__item">
            <span class="side-menu__label">داشبورد</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('buy') }}" class="side-menu__item">
            <span class="side-menu__label">خرید</span>
          </a>
        </li>


        <li class="slide">
          <a href="{{ url_for('sell') }}" class="side-menu__item">
            <span class="side-menu__label">فروش</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('gold_deposit') }}" class="side-menu__item">
            <span class="side-menu__label">واریز فیزیکی طلا ۱۸ عیار</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('gold_withdrawal') }}" class="side-menu__item">
            <span class="side-menu__label">برداشت فیزیکی طلا ۱۸ عیار</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('deposit') }}" class="side-menu__item">
            <span class="side-menu__label">درخواست واریز به حساب</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('withdrawal') }}" class="side-menu__item">
            <span class="side-menu__label">درخواست برداشت از حساب</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('transactions') }}" class="side-menu__item">
            <span class="side-menu__label">تراکنش ها</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('announcements') }}" class="side-menu__item">
            <span class="side-menu__label">اطلاعیه‌ها</span>
          </a>
        </li>

        <li class="slide">
          <a href="{{ url_for('profile') }}" class="side-menu__item">
            <span class="side-menu__label">پروفایل</span>
          </a>
        </li>

        <li class="slide">
          <a href="https://t.me/nilegoldgroup" class="side-menu__item" target="_blank">
            <span class="side-menu__label">کانال تلگرام Nile Gold Group</span>
          </a>
        </li>

      </ul>
      <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
          height="24" viewbox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg></div>
    </nav>
    <!-- End::nav -->

  </div>
  <!-- End::main-sidebar -->

</aside>