{% extends "layout.html" %}

{% block content %}

<div class="main-content app-content">
  <div class="container-fluid">

    <!-- Start::page-header -->
    <div class="d-flex align-items-center justify-content-between my-4 page-header-breadcrumb flex-wrap gap-2">
    </div>
    <!-- End::page-header -->

    <!-- Start:: row-1 -->
    <div class="row">
      <div>

        <div class="card custom-card">

          <form method="POST" enctype="multipart/form-data">

            <div class="p-3 border-bottom border-top border-block-end-dashed tab-content">
              <div class="tab-pane overflow-hidden p-0 border-0 active show" id="account-pane" role="tabpanel"
                aria-labelledby="account" tabindex="0">
                <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-1">
                  <div class="fw-semibold d-block fs-15">درخواست برداشت از حساب :</div>
                </div>
                <div class="row gy-3">
                  <div class="col-xl-12">
                  </div>
                  <div class="col-xl-6">
                    <label for="amount" class="form-label">مبلغ برداشت :</label>
                    <input type="text" step=0.001 name="amount" class="form-control" id="amount" value=""
                      placeholder="مبلغ برداشتی را به تومان وارد کنید" required="">
                    <label class="input-group-text" for="amount">مبلغ به تومان می‌باشد</label>
                  </div>
                  <!--
                  <div class="col-xl-6">
                  <label for="inputfile" class="form-label">تصویر رسید :</label>
                    <input type="file" name="file" class="form-control" id="inputfile">
                    <label class="input-group-text" for="inputfile">بارگذاری رسید</label>
                  </div> -->

                </div>
              </div>
            </div>
            <div class="card-footer border-top-0">
              <div>
                <input type="submit" class="btn btn-primary btn-wave waves-effect waves-light" value="ثبت برداشت">
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
    <!-- End:: row-1 -->

  </div>
</div>

{% endblock %}

{% block script %}
<script>

  const inpNumber = document.getElementById("amount");
  inpNumber.addEventListener("keyup", handlerSeparateNumbers);

  // functions
  function funcReverseString(str) {
    return str.split('').reverse().join('');
  }

  // event handlers
  function handlerSeparateNumbers(e) {
    const thisElement = e.target;
    let thisElementValue = thisElement.value;

    thisElementValue = thisElementValue.replace(/,/g, "");

    if (isNaN(Number(thisElementValue))) {
      alert("لطفا از وارد کردن حروف خودداری فرمایید !")
      return false;
    }

    let seperatedNumber = thisElementValue.toString();
    seperatedNumber = funcReverseString(seperatedNumber);
    seperatedNumber = seperatedNumber.split("");

    let tmpSeperatedNumber = "";

    j = 0;
    for (let i = 0; i < seperatedNumber.length; i++) {
      tmpSeperatedNumber += seperatedNumber[i];
      j++;
      if (j == 3) {
        tmpSeperatedNumber += ",";
        j = 0;
      }
    }

    seperatedNumber = funcReverseString(tmpSeperatedNumber);
    if (seperatedNumber[0] === ",") seperatedNumber = seperatedNumber.replace(",", "");
    thisElement.value = seperatedNumber;
  }

</script>
{% endblock %}